@charset "utf-8";
/* CSS Document */

body {
background-color:white;
overflow-x: hidden; /* Hide horizontal scrollbar */
overflow-y: auto; /* Show vertical scrollbar if needed */
}

.container {
height: 1080px;
width: 1920px;
}

#logohome img {
float:left;
padding-left: 35px;
padding-top: 15px;
position:fixed;
z-index: 15;
}

.wrapper { 
background:black;
position: fixed; 
width: 100%; 
height: 100px; 
z-index: 8; 
margin: -10px;
padding-right: 70px;
object-fit: cover;
}
#navigation  {
margin-top: 35px; 
padding-left: 1550px; 
font-size: 17px; 
word-spacing: 30px; 
position: absolute; 
z-index: 10; 
font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
}
#navigation a           	{ color: white; }
#navigation a:link			{ color: white;  }
#navigation a:active		{ color: yellowgreen;  }
#navigation a:focus			{ color: yellowgreen;  }
#navigation a:hover     	{ color: wheat; }

.tajukcontact h1 {
position: absolute;
top: 14%;
left: 48%;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

.gambarcontact {
position: absolute;
top:25%;
left: 29%;
}

.gambarcontact img {
transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.gambarcontact img:hover {
 filter: grayscale(100%);
transform: scale(1.05);
}

.TextContent {
position: absolute;
top: 25%;
left:52%;
}

.TextContent h1{
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
.TextContent h3 {
font-family: "Segoe UI Variable Display Light";
}

.instagramcontact {
color: blue;
}
.emailmat {
font-family: "Segoe UI Variable Display Light";
font-size: 20px;
text-decoration: none;
}

.footer {
position: absolute;
top: 90%;
background-color: black;
margin-left: -10px;
margin-top: 70px;
height: 300px;
width: 1920px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}
    
    .footer .logo {
      height: 50px;
      margin-bottom: 20px;
    }
    
    .footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
		margin-bottom: 20px;
    }
    
    .footer ul li {
      margin: 0 10px;
    }
    
    .footer ul li a {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', 'Helvetica', 'Arial', 'sans-serif';
      color: white;
      text-decoration: none;
    }
    
    .footer ul li a:hover {
      text-decoration: underline;
    }
.footer h3 {
font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', 'Helvetica', 'Arial', 'sans-serif';
font-size: 13px;
}